# Python / Virtual Env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
.venv/
.env
env311/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/




# Django
*.sqlite3
media/
staticfiles/


# Node / React (Frontend specific)
/src/frontend/node_modules/
/src/frontend/dist/
/src/frontend/build/

# Log files
/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*

# Environment files
/src/frontend/.env
/src/frontend/.env.local
/src/frontend/.env.*.local

# TypeScript cache files
/src/frontend/*.tsbuildinfo

# Vite specific cache/output
/src/frontend/.vite/


# OS Specific
.DS_Store
Thumbs.db
