@"
# Python
env/
env311/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data & models
/model/
*.h5
*.keras
data/PROCESSED/
backend/media/

# OS/Editor
.DS_Store
.vscode/

# Node
web/node_modules/
dist/
"@ | Out-File -Encoding utf8 .\.gitignore
