# Core ML libraries
torch
torchvision
numpy
pandas
scikit-learn
matplotlib

# Jupyter for experimentation
jupyter

# Backend
django
djangorestframework
pillow   # Required for handling image uploads in Django
djangorestframework-simplejwt # Added for token-based authentication
django-cors-headers # Added for CORS configuration

# Optional utilities (safe to include)
tqdm
python-multipart